* {
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #3d3d3d;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  padding: 2rem;
}

@media screen and (max-width: 800px) {
  html,
  body {
    padding: 1rem;
  }
}

pre {
  font-size: 0.75rem;
}

a {
  color: inherit;

  /* text-decoration: none; */
}
