.appContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 8rem);
  margin: 0 auto;
  max-width: 40rem;
}

.headerContainer {
  display: flex;
  margin-bottom: 2rem;
}

@media screen and (max-width: 800px) {
  .headerContainer {
    flex-direction: column;
  }
}

.header {
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

@media screen and (max-width: 800px) {
  .header {
    font-size: 1rem;
  }
}

.mainContainer {
  position: relative;
}
