.list {
  list-style: none;
  padding: 0;
}

.listItem {
  border-top: 1px solid #d5d5d5;
  cursor: pointer;
  display: block;
  padding: 1rem 0;
}

.listItemHeader {
  margin-bottom: 0.5rem;
}

.listItemTitle {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.listItemDate {
  font-size: 0.75rem;
}
