.menu {
  margin-left: auto;
}

@media screen and (max-width: 800px) {
  .menu {
    margin-left: initial;
  }
}

.menu ul {
  color: #6b6b6b;
  display: flex;
  font-size: 1.4rem;
  font-weight: lighter;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  .menu ul {
    font-size: 1rem;
  }
}

.menu li {
  margin: 0 0.25rem;
}

.menu li:first-of-type {
  margin-left: 0;
}

.menu .active {
  color: #3d3d3d;
  font-weight: bold;
}

.menu a {
  text-decoration: none;
}
