.projectIndex ul {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}

.projectIndex li {
  background-color: #fff;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  object-fit: contain;
  overflow: hidden;
  position: relative;
}

.projectIndex li::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.badge {
  background-color: rgb(255 255 255 / 45%);
  height: 100%;
  padding: 1rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.badgeTitle {
  font-weight: bold;
}

.badgeDescription {
  margin-top: 0.5rem;
}

.badgeBackground {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
